################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/VSUpdateNotifier/v15/Server/sqlite3/storage.ide-wal
/.vs/VSUpdateNotifier/v15/Server/sqlite3/storage.ide-shm
/.vs/VSUpdateNotifier/v15/Server/sqlite3/storage.ide
/.vs/VSUpdateNotifier/v15/Server/sqlite3/db.lock
/.vs/VSUpdateNotifier/v15/Server/sqlite3
/.vs/VSUpdateNotifier/v16/Server/sqlite3/storage.ide-wal
/.vs/VSUpdateNotifier/v16/Server/sqlite3/storage.ide-shm
